<div class="procesos-container">
  <h2 class="title">Lista de Procesos</h2>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && procesos.length === 0" class="empty">
    No hay procesos registrados.
  </div>

  <div *ngIf="loading" class="loading">Cargando procesos...</div>

  <div class="procesos-grid" *ngIf="procesos.length > 0 && !loading">
    <div class="proceso-card" *ngFor="let proc of procesos">
      <div class="card-header">
        <h3>{{ proc.name || 'Sin nombre' }}</h3>
        <span class="badge">ID {{ proc.id }}</span>
      </div>

      <div class="card-body">
        <p><strong>Descripción:</strong> {{ proc.description || '—' }}</p>
        <p><strong>Categoría:</strong> {{ proc.category || '—' }}</p>
        <p><strong>Estado:</strong> {{ proc.status }}</p>
        <p><strong>Organización:</strong>
             {{ proc.organizationId !== null ? proc.organizationId : '—' }}</p>

        <div class="subdata">
        <p><strong>Actividades:</strong> {{ proc.activityIds?.length ?? 0 }}</p>
        <p><strong>Arcos:</strong> {{ proc.archIds?.length ?? 0 }}</p>
        <p><strong>Gateways:</strong> {{ proc.gatewayIds?.length ?? 0 }}</p>
        </div>

      </div>

      <div class="card-actions">
        <button class="btn-delete" (click)="eliminarProceso(proc.id)">Eliminar</button>
      </div>
    </div>
  </div>

  <button class="btn-volver" (click)="volver()">← Volver</button>
</div>
